<app-header></app-header>
<app-navbar></app-navbar>
<div class="details1" *ngIf = 'displayCharacter'>
   
    <div class="data-list">
        <div class="details-list" *ngFor = "let data of dataArray;index as i">
            <p class="data" (click)="dataDetails(i)">{{data.name}}</p>
           
        </div>
        <div class="button" *ngIf="dataArray">
            <button class="btn" (click)="previous()" [disabled]="planetData.previous == null" [class.disabled]="planetData.previous == null">PREVIOUS</button>
            <button class="btn btn1" (click)="next()" [disabled]="planetData.next == null" [class.disabled]="planetData.next == null">NEXT</button>
        </div>
    </div>
</div>

<div class="character" *ngIf = 'displayDetails'>
    <div class="image" (click)="back_to_character()">
        <img src="https://wallpaperaccess.com/full/1920267.jpg" alt="yoda image" class="img">
    </div>
    <div class="details">
        <h1 class="name">{{currentData.name | uppercase}}</h1>
        <div class="overflow-data">
            <div class="destination-data">
                <p class="data-details">Diameter : </p>
                <p class="data-details-value">{{currentData.diameter}}</p>
            </div>
            <div class="destination-data">
             <p class="data-details">Rotation period : </p>
             <p class="data-details-value">{{currentData.rotation_period}}</p>
         </div>
         <div class="destination-data">
             <p class="data-details">Orbital period : </p>
             <p class="data-details-value">{{currentData.orbital_period}}</p>
         </div>
         <div class="destination-data">
             <p class="data-details">Gravity : </p>
             <p class="data-details-value">{{currentData.gravity}}</p>
         </div>
         <div class="destination-data">
             <p class="data-details">Population : </p>
             <p class="data-details-value">{{currentData.population}}</p>
         </div>
         <div class="destination-data">
             <p class="data-details">Climate : </p>
             <p class="data-details-value">{{currentData.climate}}</p>
         </div>
         <div class="destination-data">
             <p class="data-details">Terrain : </p>
             <p class="data-details-value">{{currentData.terrain}}</p>
         </div><div class="destination-data">
             <p class="data-details">Surface_water : </p>
             <p class="data-details-value">{{currentData.surface_water}}</p>
         </div>
         <div class="destination-data">
             <p class="data-details">Residents : </p>
             <p class="data-details-value">{{currentData.residents}}</p>
         </div>
         
        
        </div>
    
    
        
    </div>
    </div>
<app-footer></app-footer>