.body{
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}
.header{
    height: 21%;
    width: 100%;
}
.home{
    height: 60%;
    width: 100%;
}
.footer{
    height: 19%;
    width: 100%;
}
.place{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color:#fff;
    margin-left: 1%;
}
.favourite{
    display: flex;
}
.place-name{
    font-size: 2.0rem;
    line-height: 2.4rem;
    
}
.temp-details{
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.with-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.temp{
    color:#fff;
    font-size: 6.4rem;
    line-height: 7.5rem;
    margin-right: 5%;

}
.description p{
    color:#fff;
    font-size: 2.2rem;
    line-height: 2.5rem;
    
    

}
.description p::first-letter{
    text-transform: uppercase;
}
.with-button button{
    border: 1px solid white;
    color:#fff;
    background-color: transparent;
    border-radius: 1px;
    padding: 5%;
    font-family: 'Roboto';
    font-size: 1.6rem;
    line-height: 1.9rem;
    
}

@media(max-width:500px){
    .place{
        height: 15%;
        justify-content: center;
        align-items: center;
    } 
    .place-name{
        font-size: 1.8rem;
        line-height: 2.1rem;
        
    }
}
