<app-header></app-header>
<app-navbar></app-navbar>
<div class="character">
<div class="image">
    <img src="https://source.unsplash.com/random/200x200?sig=incrementingIdentifier" alt="yoda image" class="img">
</div>
<div class="details">
    <h1 class="name">YODA</h1>
    <div class="overflow-data">
       <div class="destination-data">
           <p class="data-details">Model : </p>
           <p class="data-details-value">Sentient</p>
       </div>
       <div class="destination-data">
        <p class="data-details">Vehicle_class : </p>
        <p class="data-details-value">Sentient asdhklaja fahsdkfjhas dfkjhsadlkjf adsfhnsjkad hjjjjjjjjjgkjh gjhgkkkkkkkkkkkkkkkkkkkkjh</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Manufacturer : </p>
        <p class="data-details-value">Sentient asdg afdgsdfsdfasdf dfsasdfadf dsf</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Length : </p>
        <p class="data-details-value">Sentient</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Cost_in_credits : </p>
        <p class="data-details-value">Sentient</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Crew : </p>
        <p class="data-details-value">Sentient</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Passengers : </p>
        <p class="data-details-value">Sentient</p>
    </div><div class="destination-data">
        <p class="data-details">Max_atmosphering_speed : </p>
        <p class="data-details-value">Sentient</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Cargo_capacity : </p>
        <p class="data-details-value">Sentient</p>
    </div>
    <div class="destination-data">
        <p class="data-details"> : </p>Consumables
        <p class="data-details-value">Sentient</p>
    </div>
    
    
    </div>


    
</div>
</div>
<app-footer></app-footer>