

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto';
    color: rgba(255,255,255,0.8);
    line-height: 1.6;
    
}

.container{
width: 100%;
height: 100%;
background: url('../../assets/images/background.png') no-repeat;
background-size: cover;
position: relative;


}
.home{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    height: 60%;
    /* border: 1px solid red; */
    margin-top: 3%;
    color:#fff;
    font-weight: 500;
    display: flex;
    position: absolute;
    
}
.location{
    width: 30%;
    
}
.fevourite{
    width: 100%;
    display: flex;

    /* justify-content: space-between; */

}
.location .current-location{
    font-family: Roboto;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 500;
}
.fevourite #text{
    padding: 0.3% 0.5%;
    font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
}

.weather{
    /* position: absolute; */
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    

}

.value{
    font-size: 4rem;
}

.weather .image-div{
    
    width: 10%;
    margin-bottom: 3%;
}

.weather .image{
    object-fit: cover;
}
.weather .temp-data{
    width: 100%;
    /* display: flex; */
   
}
/* .temp-data .up{
    position: absolute;
    width: 10%;
    display: flex;
    padding: 5px;
    border-radius: 5px;
} */

.weather .temp-data button {
    font-size: 1.25rem;
    padding: 0.5%;
    border: 1px solid #fff;
    background: transparent;
    color:#fff;
    
   
}

#background{
    background-color: #fff;
    color: rgba(227,40,67,1);
}
.icon-selected,.col{
    color: #FFD639;
}

@media(max-width:500px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .home{
        
        /* width: fit-content; */
        margin-top: 1.5vh;
        margin-left: 4vh;
        flex-direction: column;
        text-align: center;
       justify-content: center;
       align-items: center;
       
       /* margin: 0; */
    }
    .location{
        width: fit-content;
        align-items: center;
    }

    .location .current-location{
        /* margin-top: 0.02vw; */
        line-height: 0.5rem;
        font-family: 'Roboto';
        font-size: 1.5rem;
        /* font-weight:200; */
        color:rgba(255,255,255)
        
    }
    .fevourite{
        align-items: center;
        /* margin-left: 5vh; */
        /* line-height: 8vh; */
        margin-top: 4vh;
        justify-content: center;
    }
    .fevourite #text{
        padding: 0.3% 0.5%;
    }

    .weather .image-div{
        width: 40%;
        margin-bottom: 5vh;
    }
    #text-size{
        margin-top: 3vh;
        font-size: 1.5rem;
        font-weight: 400;
    }
}