

<div class="container">
    <app-header></app-header>
    <div class="home">
        <div class="location">
            <p class="current-location">Udupi,Karnataka</p>
            <div class="fevourite">
                <p><mat-icon *ngIf="favourite" class="icon" (click)="change()">favorite_border</mat-icon>
                    <mat-icon *ngIf="favourite1" class="icon-selected" (click)="change()">favorite</mat-icon></p>
                <p id="text" [class.col]="favourite1">Add to favourite</p>
            </div>
        </div>
        <div class="weather">
            <div class="image-div">
                <img src="../../assets/images/sunny.png" alt="sunny" class="image" width="100%" height="100%">
            </div>
            <div class="temp-data">
                <span class="value">87 </span>
                    <button>&#176;C</button>
                    <button id="background">&#176;F</button>
                
                
            </div>
            <p id="text-size">Mostly Sunny</p>
        </div>
    </div>
    <app-footer></app-footer>
</div>
