

<div class="container">
    <app-header></app-header>
    <div class="home">
        <div class="location">
            <p class="current-location">{{currentData.name}}</p>
            <!-- <p class="current-location">udupi</p> -->
            <div class="fevourite">
                <!-- <p (click)="change()"><mat-icon *ngIf="currentData.like==false" class="icon">favorite_border</mat-icon></p>
                    <p (click)="removeLike()"><mat-icon *ngIf="currentData.like == true" class="icon-selected">favorite</mat-icon></p> -->
                <p  *ngIf="currentData.like==false"  (click)="change()" id="text" [class.col]="currentData.like"><mat-icon class="icon">favorite_border</mat-icon>Add&nbsp;to&nbsp;favourite</p>
                <p *ngIf="currentData.like == true" (click)="removeLike()" id="text" [class.col]="currentData.like"><mat-icon class="icon-selected">favorite</mat-icon>Add&nbsp;to&nbsp;favourite</p>
            </div>
        </div>
        <div class="weather">
            <div class="image-div">
                <img src="http://openweathermap.org/img/wn/{{icon}}@4x.png" alt="sunny" class="image" width="120%" height="120%">
                <!-- <img src="../../assets/images/rain-small.png" alt=""> -->
            </div>
            <div class="temp-data">
                <!-- <span class="value">{{temp}}</span> -->
                <span class="value">{{temp}}</span>
                    <div class="but">
                        <button (click)="celcius()">&#176;C</button>
                    <button (click)="farenheit()" id="background">&#176;F</button>
                    </div>
                
                
            </div>
            <p id="text-size">{{currentData.description}}</p>
            <!-- <p id="text-size">heavy rainy</p> -->
        </div>
    </div>
    <app-footer></app-footer>
</div>
