<!-- 
<h1>Encryption form</h1><div>
    <label for="user name">plain test</label>
    <input type="text" [(ngModel)]='username' name="username" id="username">
</div>

<div>
    <label for="pws">password : </label>
    <input type="password" [(ngModel)]='password' name="password" id="pws">
</div>
<br>
<button (click)="encryption()">Encryption form</button>
<br><br>
<textarea name="" id="" cols="30" rows="10">{{encryptText}}</textarea>

<hr>
<h2>Decription method</h2>
<button (click)="convertText('encrypt')">Decryption</button> -->


<h1 class="text-center">AES Encryption and Decryption with angular</h1>
<br>
<div>  
  <div class="row">
    <div class="col-sm-6">  
      <button type="button" class="btn btn-primary btn-lg btn-block">Encryption</button>
      <br>
      <div class="form-group">  
        <label for="txtTextToConvert">Plain Text</label>  
        <input type="text" class="form-control" placeholder="Enter text you want to encrypt" [(ngModel)]="message">  
      </div>  

      <div class="form-group">  
        <label for="txtPassword">Password</label>  
        <input type="password" class="form-control" placeholder="Enter encryption password" [(ngModel)]="password1">  
      </div>
      <textarea class="form-control" readonly rows="3">{{encryptedMessage}}</textarea>
      <br>
      <button type="button" class="btn btn-success float-right" (click)="encrypt()">
         Encrypt
      </button>
    </div>
    <div class="col-sm-6">  
      <button type="button" class="btn btn-dark btn-lg btn-block">  
        Decryption
      </button>
      <br>
      <!-- <div class="form-group">  
        <label for="txtTextToConvert">Encrypted Text</label>  
        <input type="text" class="form-control" placeholder="Enter text you want to decrypt" [(ngModel)]="encryptText">  
      </div> -->

      <!-- <div class="form-group">  
        <label for="txtPassword">Password</label>  
        <input type="password" class="form-control" placeholder="Enter decryption password" [(ngModel)]="decPassword">  
      </div> -->
  
      <textarea class="form-control" readonly rows="3">{{decryptedMessage}}</textarea>
      <br>
      <!-- <button type="button" class="btn btn-success float-right" (click)="convertText('decrypt')">
         Decrypt
      </button>
   -->
    </div>  
  </div>  
</div>