
<h1 class="text-center">AES Encryption and Decryption with angular</h1>
<br>
<div>  
  <div class="row">
    <div class="col-sm-6 form">  
      
      <br>
      <div class="person1">
        <!-- <h1>person1</h1> -->
        <!-- <div class="form-group">   -->
          <!-- <label for="txtTextToConvert">Plain Text</label>  
          
  
        <div class="form-group">  
          <label for="txtPassword">Password</label>  
          <input type="text" class="form-control" placeholder="Enter encryption password" [(ngModel)]="password1">  
        </div> -->

        <div class="button">
          <p *ngIf="display">{{decryptedMessage1}}</p>
          <input type="text" class="form-control" placeholder="type msg here" [(ngModel)]="message">  
          <button type="button" class="btn btn-success float-right" (click)="encrypt()">
            send
         </button>
        <!-- </div> -->
        </div>  
        
      <!-- </div> -->
      
    </div>
    <textarea class="form-control" *ngIf="display" readonly rows="3">{{encryptedMessage}}</textarea>

    <div class="person1">
      <!-- <h1>person2</h1> -->
      <!-- <div class="form-group">   -->
        <!-- <label for="txtTextToConvert">Plain Text</label>  
        

      <div class="form-group">  
        <label for="txtPassword">Password</label>  
        <input type="text" class="form-control" placeholder="Enter encryption password" [(ngModel)]="password1">  
      </div> -->
      <div class="button">
        <!-- <textarea *ngIf ='display' class="form-control" readonly rows="3">{{decryptedMessage}}</textarea><br> -->
        <p *ngIf="display">{{decryptedMessage}}</p>
        <input type="text" class="form-control" placeholder="type msg here" [(ngModel)]="message1">  
        <button type="button" class="btn btn-success float-right" (click)="encrypt1()">
          send
       </button>
      <!-- </div> -->
      </div>  
      
    <!-- </div> -->
    
  </div>

    
      <br>
      
    <!-- <div class="col-sm-6">  
    <button (click)="decription()">Decryption form of the above text</button>
      <br>
      
  
      <textarea *ngIf ='display' class="form-control" readonly rows="3">{{decryptedMessage}}</textarea>
      <br>
     
    </div>  
  </div>   -->
</div>