
<div class="container">
    <app-header>
    </app-header>

    <div class="fevourite">
        <div class="no-fevourite" *ngIf="false">
            
                <img src="../../assets/images/no-data.png" alt="no-fevourite">
            
            <p>No Recent search</p>
        </div>
        <div class="fevourite-list">
            <div class="update-data-delete">
                <div class="list">You recently searched for </div>
                <button class="remove" (click)="onpenDialog()">clear All</button>
            </div>
        </div>
<div class="scroll">
    <mat-card class="fav-data1">
        <div class="p_data">
            <div class="place1">
                Udupi,Karnataka
            </div>
            <div class="s_data">
                <div class="img1">
                    <img src="../../assets/images/sunny-small.png" alt="sunny" class="image">
                </div>
                <div class="temp_data">
                    <h1><span class="temp">31&nbsp;</span><span>&#176;c</span></h1>
                </div>
                <div class="place_temp">
                    Mostly&nbsp;sunny
                </div>
            </div>
        </div>
            <div class="right">
                <mat-icon>favorite</mat-icon>
            </div>
        

    </mat-card>
    <mat-card class="fav-data1">
        <div class="p_data">
            <div class="place1">
                Udupi,Karnataka
            </div>
            <div class="s_data">
                <div class="img1">
                    <img src="../../assets/images/sunny-small.png" alt="sunny" class="image">
                </div>
                <div class="temp_data">
                    <h1><span class="temp">31&nbsp;</span><span>&#176;c</span></h1>
                </div>
                <div class="place_temp">
                    Mostly&nbsp;sunny
                </div>
            </div>
        </div>
            <div class="right">
                <mat-icon>favorite</mat-icon>
            </div>
        

    </mat-card>
    <mat-card class="fav-data1">
        <div class="p_data">
            <div class="place1">
                Udupi,Karnataka
            </div>
            <div class="s_data">
                <div class="img1">
                    <img src="../../assets/images/sunny-small.png" alt="sunny" class="image">
                </div>
                <div class="temp_data">
                    <h1><span class="temp">31&nbsp;</span><span>&#176;c</span></h1>
                </div>
                <div class="place_temp">
                    Mostly&nbsp;sunny
                </div>
            </div>
        </div>
            <div class="right">
                <mat-icon>favorite</mat-icon>
            </div>
        

    </mat-card>
    <mat-card class="fav-data1">
        <div class="p_data">
            <div class="place1">
                Udupi,Karnataka
            </div>
            <div class="s_data">
                <div class="img1">
                    <img src="../../assets/images/sunny-small.png" alt="sunny" class="image">
                </div>
                <div class="temp_data">
                    <h1><span class="temp">31&nbsp;</span><span>&#176;c</span></h1>
                </div>
                <div class="place_temp">
                    Mostly&nbsp;sunny
                </div>
            </div>
        </div>
            <div class="right">
                <mat-icon>favorite</mat-icon>
            </div>
        

    </mat-card>
    <mat-card class="fav-data1">
        <div class="p_data">
            <div class="place1">
                Udupi,Karnataka
            </div>
            <div class="s_data">
                <div class="img1">
                    <img src="../../assets/images/sunny-small.png" alt="sunny" class="image">
                </div>
                <div class="temp_data">
                    <h1><span class="temp">31&nbsp;</span><span>&#176;c</span></h1>
                </div>
                <div class="place_temp">
                    Mostly&nbsp;sunny
                </div>
            </div>
        </div>
            <div class="right">
                <mat-icon>favorite</mat-icon>
            </div>
        

    </mat-card>
    <mat-card class="fav-data1">
        <div class="p_data">
            <div class="place1">
                Udupi,Karnataka
            </div>
            <div class="s_data">
                <div class="img1">
                    <img src="../../assets/images/sunny-small.png" alt="sunny" class="image">
                </div>
                <div class="temp_data">
                    <h1><span class="temp">31&nbsp;</span><span>&#176;c</span></h1>
                </div>
                <div class="place_temp">
                    Mostly&nbsp;sunny
                </div>
            </div>
        </div>
            <div class="right">
                <mat-icon>favorite</mat-icon>
            </div>
        

    </mat-card>
    <mat-card class="fav-data1">
        <div class="p_data">
            <div class="place1">
                Udupi,Karnataka
            </div>
            <div class="s_data">
                <div class="img1">
                    <img src="../../assets/images/sunny-small.png" alt="sunny" class="image">
                </div>
                <div class="temp_data">
                    <h1><span class="temp">31&nbsp;</span><span>&#176;c</span></h1>
                </div>
                <div class="place_temp">
                    Mostly&nbsp;sunny
                </div>
            </div>
        </div>
            <div class="right">
                <mat-icon>favorite</mat-icon>
            </div>
        

    </mat-card>
</div>
        
    </div>
</div>