
<div class="container">
    <app-header>
    </app-header>

    <div class="fevourite">
        <div class="no-fevourite" *ngIf="data">
            
                <img src="../../assets/images/no-data.png" alt="no-fevourite">
            
            <p>No Recent search</p>
        </div>
       <div *ngIf="data1">
        <div class="fevourite-list">
            <div class="update-data-delete">
                <div class="list">You recently searched for </div>
                <button class="remove" (click)="onpenDialog()">clear All</button>
            </div>
        </div>

    <div class="scroll" *ngFor="let recent of currentData;index as i">
        <mat-card class="fav-data1">
            <div class="p_data">
                <div class="place1"  (click)="getData(recent,i)">
                    {{recent.name}}
                </div>
                <div class="s_data">
                    <div class="img1">
                        <img src="http://openweathermap.org/img/wn/{{currentData[i].icon}}@4x.png" alt="sunny" class="image" width="140%" height="140%">
                    </div>
                    <div class="temp_data">
                        <h1><span class="temp">{{(recent.temp-273.15).toFixed(0)}}&nbsp;</span><span>&#176;c</span></h1>
                    </div>
                    <div class="place_temp">
                        <!-- Mostly&nbsp;sunny -->
                        {{recent.description}}
                    </div>
                </div>
            </div>
                
                <div class="right">
                    <mat-icon class="icon" *ngIf="recent.like ==false">favorite_border</mat-icon>
                    <mat-icon class="icon-selected" *ngIf="recent.like == true">favorite</mat-icon>
                </div>
    
        </mat-card>
    </div>

        
       </div>
    </div>
</div>