/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-remove .mat-dialog-container{
    padding: 13%;
    width: 70vh;
}


.removeAll .mat-dialog-container{
    padding: 13%;
    width: 70vh;
}

