{{getData()}}
<div class="header">
    <app-header></app-header>
</div>
<div class="favourite">
    
    <div class="body">
        <div class="no-favourite" *ngIf="recentSearch.length < 1">
            <div>
                <img src="../../assets/images/no-data.png" alt="no favourites">
            </div>
            <div class="no-data">
                <p>No Favourites added</p>
            </div>
        </div>
        <div class="favourite1" *ngIf="recentSearch.length > 0">
            <div class="updateData-delete" >
                <p class="update">You recently searched for</p>
                <p class="remove" (click)="openDialog()">Clear all</p>
            </div>
            <div class="favourite-list" *ngFor="let recent of recentSearch;index as i">
                <div class="data">
                    <div class="place-name" (click)="details(recent)">
                        {{recent.name}}
                    </div>
                    <div class="temp-data">
                        <div class="image">
                            <img src="http://openweathermap.org/img/wn/{{recent.icon}}@2x.png" alt="weather update image" height="80%" width="80%">
                        </div>
                        <div class="temp">
                            <span id="temp-data">{{(recent.temp-273.15).toFixed(0)}}</span>&nbsp;&#176;c
                        </div>
                        <div class="description">
                            {{recent.description}}
                        </div>
                    </div>
                </div>
                <div class="like">
                    <mat-icon class="icon" *ngIf="recent.like==true"  (click)="removeFavourite(recent)">favorite</mat-icon>
                    <mat-icon *ngIf="recent.like==false" (click)="addtoFavorite(recent)" class="not-like">favorite_border</mat-icon>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
