<div class="container">
    <button mat-dialog-close class="float"><mat-icon class="icon-style">close</mat-icon></button>
    <h1>Add/Remove Super Admins</h1>
    <form [formGroup]="superAdmin">
        <div class="super-admin-form">
            <mat-form-field appearance="outline">
                <mat-label>Enter name</mat-label>
                <input type="text" matInput formControlName="name" name="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter employee code</mat-label>
                <input type="text" matInput formControlName="employeeCode" name="employeeCode">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter Mail ID</mat-label>
                <input type="email" matInput formControlName="mailId" name="mailId">
            </mat-form-field>
            <button mat-fab class="button" (click)="addAdmin()"><mat-icon>add</mat-icon></button>
            
        </div>
        <hr class="line">
        <ng-container>
          
                 <form class="admin-form">
                    <div  class="super-admin-form " *ngFor="let admin of admin_details;index as i">
                        <!-- <div aria-disabled="readOnly"> -->
                            <mat-form-field appearance="outline">
                        
                                <input type="text" matInput name="name" value="{{admin.name}}" #name >
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                
                                <input type="text" matInput value="{{admin.employeeCode}}" name="employeeCode" #empCode >
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                
                                <input type="email" matInput value="{{admin.mailId}}" name="mailId" #mailId >
                            </mat-form-field>
                            <button mat-fab class="button" type="submit" (click)="updateData(admin.id,name.value,empCode.value,mailId.value)"><mat-icon>edit</mat-icon></button>
                            <button mat-fab class="button"  (click)="deleteAdmin(admin.id)"><mat-icon>delete</mat-icon></button>
                            
                        
                    </div>
                    
                </form>
                <div class="button-div">
                    <button mat-button class="button-submit" (click)="update()" mat-dialog-close>Update</button>
                    <button mat-button class="button-submit" (click)="clear()">Cancel</button>
                </div>
                
        </ng-container>

    </form>
   
   
</div>