.header{
    width: 100%;
    padding-top:5% ;
    border-bottom: 1px solid rgba(225,225,225,0.3);
   
    
}

.logo1{
    display: flex;
    justify-content: space-between;
}
.searchbar{
    background-color: rgba(255,255,255,0.2);
    width: 38%;
   
    padding: 0.7%;
    border-radius: 3px;
    border:1px solid rgba(225,225,225,0.3);
}
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-button{
    border: none;
    background-color: transparent;
    object-fit: cover;
  
}
.search-button .search{
    color:rgba(225,225,225,0.8);
    
    font-size: 2.4rem;
    line-height: 1.9rem;
}
.image{
    width: 100%;
}

input{
    width: 90%;
    border: none;
    background-color: transparent;
    color:rgba(225,225,225,0.8);
    font-size: 1.6rem;
    line-height: 1.9rem;

}
input:focus{
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

.search-input::placeholder{
    color: rgba(255,255,255,0.8);
   
}

 button .search-button{
     width: 10%;
    border: none;
    object-fit: cover;
    background: transparent;
}
.search-icon{
    display: block;
    color: rgba(255,255,255,0.8);
    font-size: 2rem;
    
    
} 
.navbar-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5%;
    height: fit-content;
  
    
}
p{
   
    margin-bottom: 0.75%;
    float: right;
    
}

.date{
    height: fit-content;
    width: 40%;
    color:rgba(225,225,225,1);
    font-family: 'Roboto';
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.6rem;

  
}

.navbar{
    width: 60%;
   
   
}

ul{
    width: 100%;
    display: flex;
    justify-content: left;
   margin: 0;
    padding-left: 1.4rem;
    
    
    
}
ul li{
    margin-right: 3%;
    margin-bottom: 0;
   
   
}
ul li a{
    font-family: Roboto;
    font-size: 1.3rem;
    letter-spacing: 0;
    line-height: 1.5rem;
  
}

.mat,.back-color{
    display:none;
    
    
}
.search{
    display: none;
}

.active{
    border-bottom:2px solid rgba(255,214,57,1) ;
   
}
.active a{
    color:rgba(255,214,57,1);
}

@media(max-width:650px){

.header{
    border-bottom:none ;
}


    .mat,.back-color{
        display:inline-block;
        margin-top: 3%;
        margin-left: 1%;
        font-size: 3.0rem;
        color:white;
        cursor: pointer;
       
    }
    .logo{
        margin-left: 5%;
    }
    .searchbar{
        display: none;
    }
    .logo-searchbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search{
        margin-right:10% ;
        margin-top: 1.75%;
        display: block;
        color:white;
        font-size: 2rem;
    }
    .mobile-head{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar{
        height: 100%;
        position: fixed;
        padding: 0 7%;
       left: 0;
        top:0;
        left:-100%;
        background-color: #fff;
        z-index: 1;
        transition: 0.5s ease-in-out;

    }
    ul{
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        margin-top: 5%;
        
    }
    ul li{
       
        padding: 3%;
        background-color: #fff;

    }
    ul li a{
        color:rgba(112,112,112,1);
        text-align: left;
    }
    ul li a:hover{
        color:#000;
    }
    
    ul .active a{
        color: black;
    }
    .active{
        border-bottom:none ;
       
    }
    
    .menuClass{
        left:0;
    }
    

    .navbar-date{
        margin-top: 15%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   

    .date{
       
        width: fit-content;
        margin: auto;
      font-size: 1.3rem;
      letter-spacing: 0;
      line-height: 1.5rem;
      margin-bottom: 5%;
    
      
    }
    .date::content{
        text-transform: uppercase;
    }

    .searchBar{
        display: block;
        position: fixed;
        top:0;
        box-sizing: border-box;
        margin: 0;
        left: 0;
        width: 100%;
        padding: 5%;
        background: white;
        height: 100%;
        z-index: 1;
        transition: 1s ease;

    }
    
    .searchBar .search-input::placeholder{
        color: rgba(0,0,0,0.5);
        font-size: 1.4rem;
        line-height: 3.6rem;
    }
    .searchBar .back{
        position: fixed;
        font-size: 1.5rem;
        left: 5%;
        top: 5%;
        color:rgba(0,0,0,1);
        
        font-size: 2rem;
    }

    .searchBar .search-input{
        position: fixed;
        width: 70%;
        margin-left: 2%;
        color:rgba(0,0,0,0.5);
        left: 15%;
        top: 5%;
        
    }

   .back-color{
       color:#000;
   }

    .fevourite .logo1 #name{
    color: rgba(41,47,51,1);
    font-family: 'Roboto';
    font-size: 2.0rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 2.4rem;
    text-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
  
    }
    .fev{
        width: 100%;
        background-color: #fff;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        height: fit-content;
    }
    .fev .fevourite{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5%;
    }
    .logo1{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fev .logo1 .search{
        
        color:black;
    }
   
    
    
    

    .searchBar .search-button .search-icon{
        
        display: block;
        position: fixed;
        font-size: 1.5rem;
        right: 3%;
        top: 5%;
        color:rgba(0,0,0,0.5);
    
    }

    .searchBar .clear{
     
        position: fixed;
        font-size: 1.5rem;
        right: 10%;
        top: 5%;
        color:rgba(0,0,0,0.5);
       
    }

    .form{
        position: fixed;
        top:10%;
        width: 100%;
        left: 0;
        height: fit-content;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    }
    


}


