<div class="main-body">

    <app-headder></app-headder>
    <mat-card class="body" >
        <form [formGroup]="loginForm" class="login-card" (ngSubmit)="onUpdate()">
             <button class="close" (click)="close()"><mat-icon>close</mat-icon></button>
                <h2>Change Password</h2>
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Enter New Password</mat-label>
                    <input type="password" matInput formControlName="username" name="username" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="input">
                    <mat-label>Re-Enter New Password</mat-label>
                    <input type="password" matInput formControlName="password" name="password" required>
                </mat-form-field>
                <button type="submit" class="login-button" mat-button>Update</button>
                
            
        </form>
    </mat-card>

</div>
