<div class="footer scroll">
    <div class="foot-div">
        <div>
            <img src="../../assets/images/temperature.png" alt="temperature" class="img">
        </div>
        <div class="margin-left">
            <p>Min-Max</p>
            <p class="data">{{temp_min}} <span>&#176;</span>-{{temp_max}}<span>&#176;</span></p>
        </div>
    </div>

    <div class="foot-div">
        <div>
            <img src="../../assets/images/rainy.png" alt="Precipitation"  class="img">
        </div>
        <div class="margin-left">
            <p>Pressure</p>
            <p class="data">{{currentData.pressure}} %</p>
        </div>
    </div>

    <div class="foot-div">
        <div>
            <img src="../../assets/images/humility.png" alt="humility" class="img">
        </div>
        <div class="margin-left">
            <p>Humidity</p>
            <p class="data">{{currentData.humidity}}%</p>
        </div>
    </div>

    <div class="foot-div">
        <div>
            <img src="../../assets/images/wind.png" alt="wind" class="img">
        </div>
        <div class="margin-left">
            <p>Wind</p>
            <p class="data">{{wind}}&nbsp;mph</p>
        </div>
    </div>

    <div class="foot-div">
        <div>
            <img src="../../assets/images/visibility.png" alt="visibility"  class="img">
        </div>
        <div class="margin-left">
            <p>Visibility</p>
            <p class="data">{{visibility}}&nbsp;mph</p>
        </div>
    </div>
</div>
