.footer{
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    height: fit-content;
    width: 80%;
    margin: 0;
    margin-left: 10%;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding: 1%;

    display: flex;
    justify-content:space-around;
    padding-right: 5%;

}

p{
    font-size: 1rem;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  color:#fff;
  font-weight: 500;
}

.foot-div{
    display: flex;
    /* float: left; */
}
.margin-left{
    position: absolute;
    margin-left: 3%;
}
.data{
    font-size: 1.5rem;
}
