<div class="footer">
    <div class="footer-links">
        <div class="links image">
            <img src="../../assets/images/footer-logo.png" alt="footer-logo" class="img">
        </div>
        <div class="links">
            TERMS OF USE
        </div>
        <div class="links">
            LEGAL NOTICES
        </div>
        <div class="links">
            PRIVACY POLICY
        </div>
        <div class="links">
            STAR WARS HELPDESK
        </div>
        <div class="links">
            STAR WARS AT DISNEY STORE
        </div>
    </div>
    <div class="footer-links1">
        
        <div class="links">
            TERMS&nbsp;OF&nbsp;USE
        </div>
        <div class="links">
            LEGAL&nbsp;NOTICES
        </div>
        <div class="links">
            PRIVACY&nbsp;POLICY
        </div>
        <div class="links width1">
            HELPDESK
        </div>
        <div class="links width">
            STAR&nbsp;WARS&nbsp;AT&nbsp;DISNEY&nbsp;STORE
        </div>
    </div>
    <div class="copyright">
        TM & &copy; Lucasfilm Ltd. All Rights Reserved
    </div>
</div>


