.footer{
    position: absolute;
    bottom: 0;
    /* background-color: antiquewhite; */
    width: 100%;
    border-top: 1px solid #054979;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
}
.footer-links1{
    display: none;
}
.footer-links{
    width: 70%;
    
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top:2%;
    margin-bottom: 4rem;
    
    /* flex-wrap: wrap; */
}
.links{
    /* background-color: antiquewhite; */
    width: fit-content;
    /* padding: 0 5%; */
    margin-right: 6.7%;
    font-family: 'Open Sans','Semibold';
    font-size: 1.4rem;
    line-height: 1.6rem;
    color:#1B6BA2;
    
    
}
.img{
    width: 100px;
    height: 50px;
}




.copyright{
    font-family: 'Open Sans','Regular';
    color:#49586B;
    font-size: 1.4rem;
    
}

@media(max-width:800px){
    .footer{
        height: 25%;
    }
    .footer-links{
        display: none;
    }
    .footer-links1{
        width: 90%;
        margin: auto;
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top:0;
         margin-bottom: 4rem;
         text-align: center;
    }
    .links{
        width: 20%;
        padding: 0;
        font-size: 1.5rem;
        line-height: 5rem;
    }
    .width{
        text-align: center;
        width: 45%;
    }
    .width1{
        width: 35%;
    }
    .copyright{
        font-size: 1.4rem;
    }
}
