/* Header part style */
.header{
    /* box-sizing:content-box; */
    /* height: 30%; */
    width: 80%;
    margin: auto;
    /* margin-top: 10%; */
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.logo1{
    padding-top: 5% ;
    display: flex;
    justify-content: space-between;
    
    
}
.logo{
    width: fit-content;
}

.logo .logo-image{
    width: fit-content;
    height: 100%;
    object-fit: cover;
}

.searchbar{
    width: 40%;
    height: 10%;
    color:#fff;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    
    
}

.search-form{
    display: flex;
    align-items: center;
    padding: 2%;
    
    
}
.search-input{
  object-fit: cover;
  width: 90%;
  border: none;
  text-align: left; 
  color: rgba(255,255,255,0.8);
  padding: 1%;
  /* margin-left: 5%; */
  background-color: transparent;
}


.search-input::placeholder{
    color: rgba(255,255,255,0.8);
    font-size: 1.25rem;
}
input{
    font-size: 1.25rem;
}
input:focus{
    outline: none;
    background-color: transparent;
    font-size: 1.25rem;
    /* padding: 1%; */
    
}
.search-button{
   
    border: none;
    object-fit: cover;
    background: transparent;
}
.search-button .search-icon{
    color: rgba(255,255,255,0.8);
    font-size: 2rem;
    
}  


.logo-image{
    size: 100%;
}

/* Navbar date */
.navbar-date{
    margin-top: 3%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
/* .navbar{
    width: fit-content;
    
} */
.navbar ul{
    width: 100%;
    list-style: none;
    display: flex;
    /* margin-bottom: -2%; */
    
}
.date p{
    /* margin-top: 2.3%; */
    padding: 0;
}
.navbar ul{
    width: 70%;
    /* margin-bottom: 0; */
    
}
.navbar ul li{
    margin-right: 2.5rem;
    padding: 0 2%;
    /* display: inline-block; */
    margin-bottom: 0;
}


.navbar ul li a, .date{
    display: block;
    /* width: 80%; */
    font-weight: 500;
    /* width: 100%; */
    /* display: inline-block; */
    letter-spacing: 0;
    /* color: #FFD639; */
    color:#fff;
    font-size: 1.5rem;
    text-decoration: none;
    
    
}


.active{
    padding-bottom:13% ;
    color:#FFD639;

    border-bottom:2px solid #FFD639;
}
/* .a:hover{
    color: #fccd0e;
} */
#active a{
    
    color: #FFD639;
}
.mat,.back-color{
    display:none;
    
    /* line-height: 80px; */
}
.hide{
    color:transparent;
}
.search{
    display: none;
}

/* @media(max-width:952px){
    .navbar ul li a{
        font-size: 2em;
    }
} */

@media(max-width:500px){
    .header{
        border: none;
        width: 100%;
        /* height: 100%; */
        
    }

    
    .searchbar{
        
        background: none;
        border: none;
        width: 0%;
        
    }
    .search-button{
        display: none;
    }
    
    /* .search-button{
        display: block;
        float: right;
    }
    .search-button .search-icon{
        font-size: 1.5rem;
        float: right;
    } */
    .navbar-date{
        flex-direction: column;
    }
    
    .mat,.back-color{
        display:inline-block;
        margin-top: 3vh;
        margin-left: 1vh;
        font-size: 30px;
        color:white;
        cursor: pointer;
        /* line-height: 80px; */
    }
    .back-color{
        color:black;
    }
    .search{
        margin-right:5% ;
        margin-top: 2%;
        display: block;
        color:white;
        font-size: 1.5rem;
    }
   
.logo-searchbar{
    width: 100vw;
    display: flex;
   
    margin: 4%;
    justify-content:space-between;
    
}
.logo1{
   
    width: 100%;
    display: flex;
    justify-content:space-around;
}

.date p{
    margin-top: 10%;
    text-align: center;
    color: rgba(255,255,255,0.6);
    letter-spacing: 1.5px;
    font-size: 1rem;
}

.logo{
    margin: 0;
    padding-left:0 ;
}

    .logo .logo-image{
        width: fit-content;
    }
    
    .navbar{
        height: 100%;
        position: fixed;
        padding: 0 20%;
        background-color: white;
        z-index: 1;
        margin:1vh 0 ;
        top:0;
        left: -100%;
    }
    .navbar ul{
        
        
        
        background-color: white;
        color:#000;
       
        text-align: left;
        transition: all 1s;
        
        padding-top: 5%;
        flex-direction: column;
        line-height: 2rem;
        
    }
    

    .navbar ul li{
        font-size: 0.5rem;
        display: block;
        margin: 5px 0;
        width: 100%;
        
    }
    .navbar ul li a{
        
        font-size: 1rem;
        color: rgba(0,0,0,0.5);
        font-family: 'Roboto';
        
    }
    #active{
        border: none;
        color:black;
    }
    .navbar ul li a:hover,#active a{
       
        color:#000;
       
    }
    #check:checked ~ .navbar ul{
        left: 0;

    }
   .menuClass{
        left:0;
    }

    .searchBar{
        position: fixed;
        top:0;
        box-sizing: border-box;
        margin: 0;
        margin-top: 0;
        width: 100%;
        margin-left: 0;
        background: white;
        height: 100vh;
        z-index: 1;
        transition: 0.5s ease-out;


    }
    .searchBar .search-form ,.searchBar .search-form,.searchBar .search-button ,.searchBar .search-button .search-icon{
        display: block;
    }
    .searchBar .search-form {
        background-color: transparent;
        border-bottom:1px solid rgba(0,0,0,0.2) ;
        /* background-color: red; */
    }
    .searchBar .search-input::placeholder{
        color: rgba(0,0,0,0.5);
        font-size: 1rem;
    }
    .searchBar .back{
        color:rgba(0,0,0,0.5);
        margin:1.1rem 0.25rem 0 1rem;
        font-size: 2rem;
    }
    .searchBar .search-input{
        width: 60%;
        margin-left: 1vh;
        color:rgba(0,0,0,0.5);
        
        border-bottom:rgba(0,0,0,0.5) ;
    }
    .searchBar .search-button .search-icon{
        /* background-color: red; */
        position: fixed;
        font-size: 1.5rem;
        right: 3%;
        top: 5%;
        color:rgba(0,0,0,0.5);
        /* padding: 10vh; */
    }
    .searchBar .clear{
        /* background-color: red; */
        position: fixed;
        font-size: 1.5rem;
        right: 10%;
        top: 5%;
        color:rgba(0,0,0,0.5);
        /* display: none; */
        /* padding: 10vh; */
    }
    
    .fevourite{
        background-color: #fff;
        margin: 0;
        
        padding: 2pv 0;
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;

        
    }
    
    .menubar .back-color{
        position: fixed;
        top:-1.5%;
        color:black;
        margin-left:5% ;
/*         
        padding: 5%;
        margin-bottom: 5%; */
        
    }
    .fevourite .search{
        position: fixed;
        right: 5%;
        top:1%;
        
    }
    .fevourite .logo1 #name{
        margin: 0 10%;
    color: rgba(41,47,51,1);
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
    margin-bottom: 5%;
  
    }
    .fevourite .menubar .mat{
        display: none;
    }
    .fevourite .search{
        color:#000;
    }

    /* for fevourite */
    
}