.body{
   
    width:1440px;
    height: 1138px;
    margin: auto;
    /* padding: 20%; */
    /* padding: 10% 5%; */
    background-image: linear-gradient(53deg,blue,red);
}
.login-card{
    margin: auto;
    /* margin: auto; */
    width: 20%;
    border-radius: 5%;
    
    
}
.login-card input{
    display: block;
    width: 100%;
   
   
}

.body .login-card h2{
    text-align: center;
    padding-top:5% ;
}
.login-button{
    background-color: rgb(224, 44, 104);
    border-radius: 50px;
    width: 30%;
    margin: 0 35%;
    color: #fff;
}
.password{
    text-align: center;
    padding:2% 0;
}
.headding{
    width:1440px;
    margin: auto;
}