<mat-card>
    <mat-card class="headding">
        <img src="../../assets/Robosoft_logo_horizontal.png" alt="company logo">
    </mat-card>
    <mat-card class="body">
        <mat-card class="login-card">
            <form>
                <h2>Login</h2>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Username</mat-label>
                    <input type="text" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input type="password" matInput>
                </mat-form-field>
                <button mat-stroked-button class="login-button">Login</button>
                <p class="password">Forgot Password?</p>
            </form>
        </mat-card>
    </mat-card>
</mat-card>

<router-outlet></router-outlet>