.header{
    width: 100%;
    height: 30%;
}

.footer{
    width: 100%;
    height: 20%;
}

.data-details{
    width: 30%;
    font-family: 'Open Sans','Regular';
    font-size: 2.0rem;
    line-height: 4.0rem;
    font-weight: 600;
    color:#A5C1D3;

}
.details1{
    margin-top: 1.%;
}
.colon{
    font-size: 2.0rem;
    line-height: 5.0rem;
    color:#A5C1D3;
    width: 6%;
}
.data-details-value,.data-details-value1{
    width: 64%;
    font-family: 'Open Sans','Semibold';
    line-height: 5.0rem;
    font-size:2.0rem;
    color:#fff;
    margin-left: 0.5%;
    font-weight: 600;
}
.data-details-value1{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    /* justify-content: center;
    align-items: center; */
}
.array_list{
    font-family: 'Open Sans','Semibold';
    line-height: 5.0rem;
    /* font-size:2.0rem; */
    color:#fff;
    /* text-align: left; */
  

    /* border:1px solid red; */
}
.details{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

/* width */
.details::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* Track */
  .details::-webkit-scrollbar-track {
    box-shadow: black;

    /* border-radius: 10px; */
  }

  /* Handle */
  .details::-webkit-scrollbar-thumb {
    background: #00A8FF; 
    border-radius: 10px;
  }

  .loading{
      width: 100%;
      height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;

  }


.details1,.character{
    width:100%;
    height: 50%;
}
.data-list{
    width: 70%;
    height: 100%;
    margin: auto;
    /* margin-top: 2%; */
    margin-bottom:2% ;
    /* background-color: red; */
    
}
.details-list{
    width: 35%;
    margin: auto;
    /* height: 100%; */
    /* margin-top: 5%; */
    
    
    
}
.button{
    
    width: 35%;
    height: 20px;
    /* align-items: center; */
    justify-content: center;
    margin: auto;
}
.data{
    /* width: 40%; */
    font-family: 'Open Sans','Bold';
    font-size: 2.0rem;
    color:#fff;
    font-weight: 600;
    line-height: 4.5rem;
    text-align: center;
}
.data:hover,.btn{
    background-color: rgba(0,168,255,0.4);
}
.btn{
  
    margin-top: 5%;
    font-family: 'Open Sans','Regular';
    font-size: 1.6rem;
    color:#fff;
    border: none;
    width: 40%;
    padding: 2% 3%;
    
}
.btn1{
    color:#fff;
    margin-left: 20%;
}
.disabled{
    color:#7692A7;
}




.character{
    width: 70%;
    height: 55vh;
    margin: auto;
    margin-top: 1%;
    background-color: rgba(117,140,255,0.12);
    padding: 5% 4.5%;
    display: flex;
}

.image{
    width: 50%;
    height: 100%;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.details{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    padding: 3% 3%;
}



.name{
    
    font-family: 'Open Sans','Bold';
    font-size: 4.0rem;
    line-height: 4.0rem;
    color:#fff;
    margin-bottom: 4%;
}
.destination-data{
    width: 100%;
    display: flex;
    justify-content: left;
    color:#A5C1D3;
    /* align-items: center; */
    margin-bottom: 1%;
}

@media(max-width:900px){
    .name{
        font-size: 2.0rem;
        line-height: 3.0rem;
    }
    .data-details{
        width: 40%;
        font-size: 1.5rem;

    }
    .data-details-value,.data-details-value1{
        width: 45%;
        font-size: 1.5rem;
        /* margin-left: 5px; */
    }
    
    .button{
        width: 70%;
    }
    .image{
        width: 90%;
        margin: auto;
        height: 100%;
    }
    .character{
        height: 40vh;
    }
}

@media(max-width:700px){
    .name{
        font-size: 3.0rem;
        line-height: 3.0rem;
    }
    .character{
        width: 100%;
       height: 50vh;
        flex-direction: column;
        background-color: transparent;
    }
    
    .details{
        width: 90%;
        margin: auto;
        height: 50%;
    }
    
    .data-details,.data-details-value,.data-details-value1{
        font-size: 2.0rem;
    }
   
    /* .data-details-value{
  
        margin-left: 0;
        text-align: left;
    } */
    .details::-webkit-scrollbar{
        display: none;
    }
    .details1{
        height: 40%;
    }

    .data-list{
        width: 90%;
        margin: auto;
    }
    .button{
        width: 90%;
        margin: auto;
    }

    .details-list{
        width: 90%;
        margin: auto;
    }
    .btn{
        width: 40%;
        padding: 2% 5%;
    }
    .btn1{
        float: right;
    }
    .data{
        font-size: 1.8rem;
        line-height: 3.3rem;
        overflow-x: auto;
    }


    .image{
        width: 90%;
        margin: auto;
        height: 50%;
    }

    .data-details{
        width: 30%;
        font-size: 1.8rem;
        
        /* line-height: 2.0rem; */

    }
    .data-details-value,.data-details-value1{
        width: 64%;
        font-size: 1.8rem;
        margin-left: 5px;
    }
}

 