<div class="header">
    <app-header></app-header>
<app-navbar></app-navbar>
</div>
<div class="details1" *ngIf = 'displayCharacter'>
   
    <div class="data-list">
        <div class="details-list" *ngFor = "let data of dataArray;index as i">
            <p class="data" (click)="dataDetails(i)">{{data.title}}</p>
           
        </div>
        <div class="button" *ngIf="dataArray">
            <button class="btn" (click)="previous()" [disabled]="filmData.previous == null" [class.disabled]="filmData.previous == null">PREVIOUS</button>
            <button class="btn btn1" (click)="next()" [disabled]="filmData.next == null" [class.disabled]="filmData.next == null">NEXT</button>
        </div>
    </div>
</div>
<div class="loading" *ngIf="dataArray == undefined">
    <div class="ring">Loading
        <span></span>
      </div>
</div>
<div class="character" *ngIf = 'displayDetails'>
    <div class="image" (click)="back_to_character()">
        <img [src]="newImage" alt="yoda image" class="img">
    </div>
    <div class="details">
        <h1 class="name">{{currentData.title | uppercase}}</h1>
        <div class="overflow-data">
           <div class="destination-data">
               <span class="data-details">Episode id&nbsp; </span>
               <p class="colon">:</p>
               <span class="data-details-value">{{currentData.episode_id}}</span>
           </div>
           <div class="destination-data">
            <p class="data-details">Opening crawl&nbsp; </p>
            <p class="colon">:</p>
            <p class="data-details-value">{{currentData.opening_crawl}}</p>
        </div>
        <div class="destination-data">
            <p class="data-details">Director&nbsp; </p>
            <p class="colon">:</p>
            <p class="data-details-value">{{currentData.director}}</p>
        </div>
        <div class="destination-data">
            <p class="data-details">Producer&nbsp; </p>
            <p class="colon">:</p>
            <p class="data-details-value">{{currentData.producer}}</p>
        </div>
        <div class="destination-data" *ngIf = "species_list.length > 0">
            <p class="data-details">Speciess&nbsp; </p>
            <p class="colon">:</p>
            <div class="data-details-value">
                <ul class="data-details-value1" *ngFor="let species of species_list">
                    <li class="array_list">{{species}}</li>
                </ul>
            </div>
        </div>
        <div class="destination-data">
            <p class="data-details">Release date&nbsp; </p>
            <p class="colon">:</p>
            <p class="data-details-value">&nbsp;{{currentData.release_date}}</p>
        </div>
        <div class="destination-data" *ngIf = "starship_list.length > 0">
            <p class="data-details">Starship&nbsp;</p>
            <p class="colon">:</p>
            <div class="data-details-value">
                <ul class="data-details-value1" *ngFor="let starship of starship_list">
                    <li class="array_list">{{starship}}</li>
                </ul>
            </div>
        </div>

        <div class="destination-data" *ngIf = "vehicle_list.length > 0">
            <p class="data-details">Vehicles&nbsp; </p>
            <p class="colon">:</p>
            <div class="data-details-value">
                <ul class="data-details-value1" *ngFor="let vehicle of vehicle_list">
                    <li class="array_list">{{vehicle}}</li>
                </ul>
            </div>
        </div>

        <div class="destination-data" *ngIf = "planet_list.length > 0">
            <p class="data-details">Planets&nbsp; </p>
            <p class="colon">:</p>
            <div class="data-details-value">
                <ul class="data-details-value1" *ngFor="let planet of planet_list">
                    <li class="array_list">{{planet}}</li>
                </ul>
            </div>
        </div>

        
        
        
        </div>
    
    
        
    </div>
    </div>
<div class="footer">
    <app-footer></app-footer>
</div>