<app-header></app-header>
<app-navbar></app-navbar>
<div class="character">
<div class="image">
    <img src="https://wallpaperaccess.com/full/1920267.jpg" alt="yoda image" class="img">
</div>
<div class="details">
    <h1 class="name">YODA</h1>
    <div class="overflow-data">
       <div class="destination-data">
           <p class="data-details">Episode_id : </p>
           <p class="data-details-value">Sentient</p>
       </div>
       <div class="destination-data">
        <p class="data-details">Opening_crawl: </p>
        <p class="data-details-value">Sentient asdhklaja fahsdkfjhas dfkjhsadlkjf adsfhnsjkad hjjjjjjjjjgkjh gjhgkkkkkkkkkkkkkkkkkkkkjh</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Director : </p>
        <p class="data-details-value">Sentient asdg afdgsdfsdfasdf dfsasdfadf dsf</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Producer : </p>
        <p class="data-details-value">Sentient</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Release_date : </p>
        <p class="data-details-value">Sentient</p>
    </div>
    
    
    
    </div>


    
</div>
</div>
<app-footer></app-footer>