<div class="body">
    <div class="header">
        <div class="user-profile">
            <img src="../../assets/profile.png" alt="profile">
            <div class="profile">
                <p>Gopal Naik</p>
                <p>RT Number: RT000123</p>
            </div>
        </div>
        <div class="topic-headding">
            <h1>ISMS training</h1>
            <p>Description of why these terms and conditions are necessary.</p>
        </div>
        <div class="company-logo">
            <img src="../../assets/Robosoft_logo_horizontal.png" alt="logo" class="logo">
        </div>
    </div>
    
<div class="ppt-presentation">
    <ng-container  *ngIf="agree">
        <mat-card class="agree-msg">
             <p>fgkhglkjl;kjhgfgghjkljhghjkl<button mat-button><mat-icon>close</mat-icon></button></p>
        </mat-card>
    </ng-container>
</div>

<div class="conditions">
   <p>
    <mat-checkbox (click)="agreeMsg()">I have read all the Terms and conditions</mat-checkbox>
   </p>
   <p>By clicking the 'I Agree' button you hereby agree to follow all the guildlines mentioned above</p>
   <button mat-button class="agreebtn">I Agree</button>
</div>
</div>
<div>
    <h2 class="copyright">Robosoft Technologies 1996-2022 </h2>

</div>
