<div class="body">
    <div class="header">
        <div class="user-profile">
            <img src="../../assets/profile.png" alt="profile">
            <div class="profile">
                <p>Gopal Naik</p>
                <p>RT Number: RT000123</p>
            </div>
        </div>
        <div class="topic-headding">
            <h1>ISMS training</h1>
            <p>Description of why these terms and conditions are necessary.</p>
        </div>
        <div class="company-logo">
            <img src="../../assets/Robosoft_logo_horizontal.png" alt="logo" class="logo">
        </div>
    </div>
</div>
