*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.body{
    width: 100%;
    height: 100%;
    padding: 2%;
    background-image: url("../../assets/thumbnail.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    justify-content:space-between;
    padding: 0.5% 5%;
}
.logo{
    /* padding: 5%; */
   
   
}
.company-logo{
    width: 15%;
}
.user-profile{
    max-width: 15%;
    display: flex;
    /* position: relative; */

}
.user-profile img{
    /* position: absolute; */
    max-width:50%;
    max-height: 50%;
    border-radius: 100%;
    /* border: 2px solid #D92756; */
}
.profile{
    /* position: absolute;
    left: 10%; */
    color: #575757;
    font-family: Inter;
    margin: 2% 4%;
    
}
.topic-headding{
    text-align: center;
    width: 70%;
}
.topic-headding h1{
    font-weight: bold;
    font-size: 325%;
}
.topic-headding p, .profile p{
    color: #575757;
    font-size: 120%;
    /* font-weight: bold; */
}

.ppt-presentation{
    width: 60%;
    height: 60%;
    margin: auto;
    border: 1px solid black;
    
}
.conditions{
    margin-top: 2%;
}
.conditions p{
    text-align: center;
}

.mat-checkbox-checked
  .mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-background {
  background-color: #ffbf00 !important;
}

.copyright{
    text-align: center;
   color: rgba(0,0,0,0.6);
   font-family: Roboto;
   font-size: 16px;
   letter-spacing: 0.15px;
   line-height: 24px;
   bottom: 0;
 }
 
 .mat-icon{
     
     font-size: 15px;
      height: 14px ; 
     
 }
 .agree-msg{
    background-color: rgb(196, 229, 162);
    padding: 2%;
    width: fit-content;
    margin: auto;
    margin-top: 20%;
    z-index: 1;
 }

 .agreebtn{
    background-color: red;
    color: white;
    padding: 2% 4%;
    width: 10%;
    margin: auto;
 }
 
 