<div class="body">
    <div class="header">
        <div class="user-profile">
            <img src="../../assets/profile.png" alt="profile">
            <div class="profile">
                <p>Gopal Naik</p>
                <p>RT Number: RT000123</p>
            </div>
        </div>
        <div class="topic-headding">
            <h1>ISMS training</h1>
            <p>Description of why these terms and conditions are necessary.</p>
        </div>
        <div class="company-logo">
            <img src="../../assets/companyLogo.png" alt="logo" class="logo">
        </div>
    </div>
    
<div class="ppt-presentation">
    
    <iframe src="https://onedrive.live.com/embed?cid=71384A13DA89F31B&resid=71384A13DA89F31B%21262571&authkey=AOiGUhaxNpQ70Q4&em=2" width="100%" height="100%" frameborder="0" scrolling="no" class="ppt">
        <ng-container  *ngIf="agree">
            <div class="agree-msg opacity">
                 <div class="display-flex"><img src="../../assets/save-image.png" alt="save">
                    <div class="text">Thank you for accepting Term and Conditions </div>
                    </div>
                     <span (click)="closeAgreeMsg()" ><img src="../../assets/close.png" alt="close" class="right"></span>
            </div>
        </ng-container>
        
    </iframe>
    
</div>

<div class="conditions">
   <p class="opacity">
    <mat-checkbox (click)="agreeMsg()">I have read all the Terms and conditions</mat-checkbox>
   </p>
   <p>By clicking the 'I Agree' button you hereby agree to follow all the guildlines mentioned above</p>
   
</div>
<button mat-button class="agreebtn" routerLink="/home">I Agree</button>
</div>
<div>
    <h2 class="copyright">Robosoft Technologies 1996-2022 </h2>

</div>
