.favourite{
    width: 80%;
    margin: auto;
    
}
.header{
    height: fit-content;
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}
.body{
    height: 80%;
    width: 100%;
}

/* no favourite data image display styling */
.no-favourite{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-data p{
    color:#fff;
    font-family: 'Roboto';
    font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 2.1rem;
  margin-top: 5%;
}

/* favourite data display */
.updateData-delete{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5% ;
}

.updateData-delete p{
    color:#fff;
    font-family: 'Roboto';
    font-size: 1.3rem;
    letter-spacing: 0;
    line-height: 1.5rem;
}

/* list of data styling */
.favourite1{
    color:white;
}
.favourite-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(225,225,225, 0.2);
    margin-bottom: 1px;
}
.favourite-list:hover{
    background-color: rgba(225,225,225, 0.3);
    
}
.favourite-list:hover .place-name{
    color:rgba(250,208,91,1);
    
}
.data{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}
.temp-data{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.place-name{
    margin-left: 2%;
    font-family: 'Roboto';
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
    cursor: pointer;
}
.like{
    margin-right: 2%;
    cursor: pointer;
}
.icon{
    color:rgba(250,208,91,1)
}
.temp{
    font-family: 'Roboto';
    font-size: 1.6rem;
    line-height: 1.9rem;
    
}
.description{
    font-family: Roboto;
    font-size: 1.8rem;
    letter-spacing: 0;
    line-height: 2.1rem;
    margin-left: 2%;
}
.description::first-letter{
    text-transform: uppercase;
}
#temp-data{
    font-size: 3.2rem;
    line-height: 3.8rem;
}
.image{
    object-fit: cover;
}
.remove{
    cursor: pointer;
}
.scroll{
    overflow-y: scroll;
    height: 70vh;
}
.scroll::-webkit-scrollbar{
    display: none;
}

@media(max-width:1000px){
    .temp-data{
        width: 80%;
    }
}
@media(max-width:650px){
    .header{
       
        width: 100%;
       
    }
   
    .temp-data{
        width: 100%;
    }

    .data{
        width: 90%;
        margin-left: 3%;
        flex-direction: column;
        align-items:flex-start;
    }
    .place-name{
        font-size: 1.5rem;
         font-weight: 500;
        letter-spacing: 0;
         line-height: 1.8rem;
         color:rgba(250,208,91,1);         
         
    }
    .image{
        object-fit: cover;
    }

    #temp-data{
        font-size: 1.8rem;
  
  line-height: 2.1rem;
    }

    .description{
        font-size: 1.4rem;
  
  line-height: 1.6rem;
    }
    
    
}