<div class="favourite">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="body">
        <div class="no-favourite" *ngIf="false">
            <div>
                <img src="../../assets/images/no-data.png" alt="no favourites">
            </div>
            <div class="no-data">
                <p>No Favourites added</p>
            </div>
        </div>
        <div class="favourite1">
            <div class="updateData-delete">
                <p class="update">6 City added as favourite</p>
                <p class="remove">Remove all</p>
            </div>
            <div class="favourite-list">
                <div class="data">
                    <div class="place-name">
                        Udupi
                    </div>
                    <div class="temp-data">
                        <div class="image">
                            <img src="../../assets/images/rain-small.png" alt="weather update image">
                        </div>
                        <div class="temp">
                            <span id="temp-data">31</span>&nbsp;&#176;c
                        </div>
                        <div class="description">
                            heavy rainy
                        </div>
                    </div>
                </div>
                <div class="like">
                    <mat-icon class="icon">favorite</mat-icon>
                </div>
            </div>
            <div class="favourite-list">
                <div class="data">
                    <div class="place-name">
                        Udupi
                    </div>
                    <div class="temp-data">
                        <div class="image">
                            <img src="../../assets/images/rain-small.png" alt="weather update image">
                        </div>
                        <div class="temp">
                            <span id="temp-data">31</span>&nbsp;&#176;c
                        </div>
                        <div class="description">
                            heavy rainy
                        </div>
                    </div>
                </div>
                <div class="like">
                    <mat-icon class="icon">favorite</mat-icon>
                </div>
            </div>
            <div class="favourite-list">
                <div class="data">
                    <div class="place-name">
                        Udupi
                    </div>
                    <div class="temp-data">
                        <div class="image">
                            <img src="../../assets/images/rain-small.png" alt="weather update image">
                        </div>
                        <div class="temp">
                            <span id="temp-data">31</span>&nbsp;&#176;c
                        </div>
                        <div class="description">
                            heavy rainy
                        </div>
                    </div>
                </div>
                <div class="like">
                    <mat-icon class="icon">favorite</mat-icon>
                </div>
            </div>
            
        </div>
    </div>
</div>
