<div class="navbar">
    <P routerLinkActive="active_page"><a routerLink="/films-charactor">FILMS</a></P>
    <P routerLinkActive="active_page"><a routerLink="/species-charactor">SPECIES</a></P>
    <P routerLinkActive="active_page"><a routerLink="/planets-charactor">PLANETS</a></P>
    <P routerLinkActive="active_page"><a routerLink="/details">PEOPLES</a></P>
    <P routerLinkActive="active_page"><a routerLink="/starship-charactor">STARSHIPS</a></P>
    <P routerLinkActive="active_page"><a routerLink="/vehicles-charactor">VEHICLES</a></P>

</div>