<div class="header">
    <app-header></app-header>
<app-navbar></app-navbar>
</div>
<div class="details1" *ngIf = 'displayCharacter'>
   
    <div class="data-list">
        <div class="details-list" *ngFor = "let data of dataArray;index as i">
            <p class="data" (click)="dataDetails(i)">{{data.name | uppercase}}</p>
           
        </div>
        <div class="button" *ngIf="dataArray">
            <button class="btn" (click)="previous()" [disabled]="speciesData.previous == null" [class.disabled]="speciesData.previous == null">PREVIOUS</button>
            <button class="btn btn1" (click)="next()" [disabled]="speciesData.next == null" [class.disabled]="speciesData.next == null">NEXT</button>
        </div>
    </div>
</div>
<!-- <div class="loading" *ngIf="dataArray == undefined">
    <div class="ring">Loading
        <span></span>
      </div>
</div> -->
<div class="loading" *ngIf="dataArray == undefined">
    <h1>Loading...</h1>
</div>
<div class="character" *ngIf = 'displayDetails'>
    <div class="image" (click)="back_to_character()">
        <img [src]="newImage" alt="yoda image" class="img">
    </div>
    <div class="details">
        <h1 class="name">{{currentData.name | uppercase}}</h1>
        <div class="overflow-data">
            <div class="destination-data">
                <p class="data-details">Classification </p>
                <p class="colon">:</p>
                <p class="data-details-value">{{currentData.classification | titlecase}}</p>
            </div>
            <div class="destination-data">
             <p class="data-details">Designation </p>
             <p class="colon">:</p>
             <p class="data-details-value">{{currentData.designation | titlecase}}</p>
         </div>
         <div class="destination-data">
             <p class="data-details">Average height </p>
             <p class="colon">:</p>
             <p class="data-details-value">{{currentData.average_height}}</p>
         </div>
         <div class="destination-data">
             <p class="data-details">Average lifespan </p>
             <p class="colon">:</p>
             <p class="data-details-value">{{currentData.average_lifespan}}</p>
         </div>
         <div class="destination-data">
             <p class="data-details">Eye colors </p>
             <p class="colon">:</p>
             <p class="data-details-value">{{currentData.eye_colors | titlecase}}</p>
         </div>
         <div class="destination-data">
             <p class="data-details">Hair colors </p>
             <p class="colon">:</p>
             <p class="data-details-value">{{currentData.hair_colors | titlecase}}</p>
         </div>
         <div class="destination-data">
             <p class="data-details">Skin colors </p>
             <p class="colon">:</p>
             <p class="data-details-value">{{currentData.skin_colors | titlecase}}</p>
         </div><div class="destination-data">
             <p class="data-details">Language  </p>
             <p class="colon">:</p>
             <p class="data-details-value">{{currentData.language | titlecase}}</p>
         </div>
         <div class="destination-data" *ngIf = "films_list.length > 0">
            <p class="data-details">Films&nbsp; </p>
            <p class="colon">:</p>
            <div class="data-details-value">
                <ul class="data-details-value1" *ngFor="let film of films_list">
                    <li class="array_list">{{film | titlecase}}</li>
                </ul>
            </div>
        </div>
        <div class="destination-data" *ngIf = "people_list.length > 0">
            <p class="data-details">People&nbsp; </p>
            <p class="colon">:</p>
            <div class="data-details-value">
                <ul class="data-details-value1" *ngFor="let person of people_list">
                    <li class="array_list">{{person | titlecase}}</li>
                </ul>
            </div>
        </div>
         <!-- <div class="destination-data">
             <p class="data-details">Homeworld : </p>
             <p class="data-details-value">{{currentData.homeworld}}</p>
         </div> -->
         
        
        </div>
    
    
        
    </div>
</div>
<div class="footer">

<app-footer></app-footer>
</div>