<app-header></app-header>
<app-navbar></app-navbar>
<div class="details1">
   
    <div class="data-list">
        <div class="details-list">
            <p class="data" routerLink="/character">sadfasd</p>
            <p class="data">asdfaf</p>
            <p class="data">ahjsdgklfds</p>
            <p class="data">;klsdfgjskdr</p>
            <p class="data">jkldf;fdsg</p>
            <p class="data">jkdfs;ahdf</p>
            <p class="data">klsadjf;lkda</p>
            <p class="data">Uajkdsfajk</p>
            <p class="data">klsadjf;lkda</p>
        </div>
        <div class="button">
            <button class="btn">PREVIOUS</button>
            <button class="btn btn1">NEXT</button>
        </div>
    </div>
</div>
<app-footer></app-footer>