<div class="header">
<app-header></app-header>
<app-navbar></app-navbar>
</div>
<div class="details1" *ngIf = 'displayCharacter'>
   
    <div class="data-list">
        <div class="details-list" *ngFor = "let data of dataArray;index as i">
            <p class="data" (click)="dataDetails(i)">{{data.name}}</p>
           
        </div>
        <div class="button" *ngIf="dataArray">
            <button class="btn" (click)="previous()" [disabled]="peopleData.previous == null" [class.disabled]="peopleData.previous == null">PREVIOUS</button>
            <button class="btn btn1" (click)="next()" [disabled]="peopleData.next == null" [class.disabled]="peopleData.next==null">NEXT</button>
        </div>
    </div>
</div>
<!-- <div class="loading" *ngIf="dataArray == undefined">
    <div class="ring">Loading
        <span></span>
      </div>
</div> -->
<div class="loading" *ngIf="dataArray == undefined">
    <h1>Loading...</h1>
</div>

<div class="character" *ngIf = 'displayDetails'>
    <div class="image" (click)="back_to_character()">
        <img [src]="newImage" alt="yoda image" class="img">
    </div>
    <div class="details">
        <h1 class="name">{{currentData.name | uppercase}}</h1>
        <div class="overflow-data">
           <div class="destination-data">
               <p class="data-details">Birth year </p>
               <p class="colon">:</p>
               <p class="data-details-value">{{currentData.birth_year}}</p>
           </div>
           <div class="destination-data">
            <p class="data-details">Eye color&nbsp; </p>
            <p class="colon">:</p>
            <p class="data-details-value">{{currentData.eye_color | titlecase}}
        </div>
        <div class="destination-data">
            <p class="data-details">gender&nbsp;</p>
            <p class="colon">:</p>
            <p class="data-details-value">{{currentData.gender | titlecase}}</p>
        </div>
        <div class="destination-data">
            <p class="data-details">Hair color&nbsp; </p>
            <p class="colon">:</p>
            <p class="data-details-value">{{currentData.hair_color | titlecase}}</p>
        </div>
        <div class="destination-data">
            <p class="data-details">Height&nbsp; </p>
            <p class="colon">:</p>
            <p class="data-details-value">{{currentData.height}}</p>
        </div>
        <div class="destination-data">
            <p class="data-details">Mass&nbsp; </p>
            <p class="colon">:</p>
            <p class="data-details-value">{{currentData.mass}}</p>
        </div>
        <div class="destination-data">
            <p class="data-details">Skin color&nbsp; </p>
            <p class="colon">:</p>
            <p class="data-details-value">{{currentData.skin_color | titlecase}}</p>
        </div>
        <div class="destination-data" *ngIf = "films_list.length > 0">
            <p class="data-details">Films&nbsp; </p>
            <p class="colon">:</p>
            <div class="data-details-value">
                <ul class="data-details-value1" *ngFor="let film of films_list">
                    <li class="array_list">{{film | titlecase}}</li>
                </ul>
            </div>
        </div>
        <div class="destination-data" *ngIf = "vehicle_list.length > 0">
            <p class="data-details">Vehicles&nbsp; </p>
            <p class="colon">:</p>
            <div class="data-details-value">
                <ul class="data-details-value1" *ngFor="let vehicle of vehicle_list">
                    <li class="array_list">{{vehicle | titlecase}}</li>
                </ul>
            </div>
        </div>

        <div class="destination-data" *ngIf = "starship_list.length > 0">
            <p class="data-details">Starship&nbsp; </p>
            <p class="colon">:</p>
            <div class="data-details-value">
                <ul class="data-details-value1" *ngFor="let starship of starship_list">
                    <li class="array_list">{{starship | titlecase}}</li>
                </ul>
            </div>
        </div>

        <div class="destination-data" *ngIf = "species_list.length > 0">
            <p class="data-details">Species&nbsp; </p>
            <p class="colon">:</p>
            <div class="data-details-value">
                <ul class="data-details-value1" *ngFor="let species of species_list">
                    <li class="array_list">{{species | titlecase}}</li>
                </ul>
            </div>
        </div>
       
        </div>
    
    
        
    </div>
    </div>
<div class="footer">
    <app-footer></app-footer>
</div>