<app-header></app-header>
<app-navbar></app-navbar>
<div class="character">
<div class="image">
    <img src="https://wallpaperaccess.com/full/1920267.jpg" alt="yoda image" class="img">
</div>
<div class="details">
    <h1 class="name">YODA</h1>
    <div class="overflow-data">
       <div class="destination-data">
           <p class="data-details">Diameter : </p>
           <p class="data-details-value">Sentient</p>
       </div>
       <div class="destination-data">
        <p class="data-details">Rotation_period : </p>
        <p class="data-details-value">Sentient asdhklaja fahsdkfjhas dfkjhsadlkjf adsfhnsjkad hjjjjjjjjjgkjh gjhgkkkkkkkkkkkkkkkkkkkkjh</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Orbital_period : </p>
        <p class="data-details-value">Sentient asdg afdgsdfsdfasdf dfsasdfadf dsf</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Gravity : </p>
        <p class="data-details-value">Sentient</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Population : </p>
        <p class="data-details-value">Sentient</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Climate : </p>
        <p class="data-details-value">Sentient</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Terrain : </p>
        <p class="data-details-value">Sentient</p>
    </div><div class="destination-data">
        <p class="data-details">Surface_water : </p>
        <p class="data-details-value">Sentient</p>
    </div>
    <div class="destination-data">
        <p class="data-details">Residents : </p>
        <p class="data-details-value">Sentient</p>
    </div>
    
    
    </div>


    
</div>
</div>
<app-footer></app-footer>