
<div class="footer scroll">
    <div class="foot-div margin-right">
        <div class="image">
            <img src="../../assets/images/temperature.png" alt="temperature" class="img">
        </div>
        <div class="margin-left">
            <p>Min-Max</p>
            <p class="data">78<span>&#176;</span>-&nbsp;89<span>&#176;</span></p>
        </div>
    </div>

    <div class="foot-div margin-right">
        <div class="image">
            <img src="../../assets/images/rainy.png" alt="Precipitation"  class="img">
        </div>
        <div class="margin-left">
            <p>Pressure</p>
            <p class="data">78 %</p>
        </div>
    </div>

    <div class="foot-div margin-right">
        <div class="image">
            <img src="../../assets/images/humility.png" alt="humility" class="img">
        </div>
        <div class="margin-left">
            <p>Humidity</p>
            <p class="data">789%</p>
        </div>
    </div>

    <div class="foot-div margin-right">
        <div class="image">
            <img src="../../assets/images/wind.png" alt="wind" class="img">
        </div>
        <div class="margin-left">
            <p>Wind</p>
            <p class="data">99&nbsp;mph</p>
        </div>
    </div>

    <div class="foot-div margin-right">
        <div class="image">
            <img src="../../assets/images/visibility.png" alt="visibility"  class="img">
        </div>
        <div class="margin-left">
            <p>Visibility</p>
            <p class="data">89&nbsp;mph</p>
        </div>
    </div>
</div>
